<!doctype html>

<html lang="en">
<head>
    {{ head() }}
</head>

<body>
<div class="business-card">
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
    <div class="info-container">
        {% if business_info.phone %}
            <div class="info-with-icon">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/phone.svg') }}" alt="Phone Icon">
                </div>
                <div class="info">
                    {{ business_info.phone }}
                </div>
            </div>
        {% endif %}

        {% if business_info.address %}
            <div class="info-with-icon">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/address.svg') }}" alt="Address Icon">
                </div>
                <div class="info">
                    {{ business_info.address }}
                </div>
            </div>
        {% endif %}

        {% if business_info.email %}
            <div class="info-with-icon">
                <div class="icon">
                    <img src="{{ url_for('static', filename='icons/email.svg') }}" alt="Email Icon">
                </div>
                <div class="info">
                    {{ business_info.email }}
                </div>
            </div>
        {% endif %}

        {% if business_info.tags %}
            <div class="tags">
                {% for tag, link in business_info.tags.items() %}
                    <a href="{{ link }}" target="_blank">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
</body>

</html>
